{% extends 'base.html' %}

{% load static %}

{% block contenido %}

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="#">{{ nombre }}&nbsp
                            <i class="far nav-icon fa fa-home"></i></a></li>
                        <li class="breadcrumb-item active">Listado de {{ nombre }}&nbsp
                            <i class="far nav-icon fa fa-clipboard-check"></i></li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <!-- /.container-fluid -->
    <section class="content">
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-header" style="background-color:#3498DB">
                        <h3 class="card-title">Registros de: <strong> {{ nombre }}</strong></h3>
                        <div class="card-tools">
                            <ul class="pagination pagination-sm float-right">
                                <li class="page-item">
                                    <a href="{% url 'app_usuario:crear_usuario' %}" class="btn btn-block btn-default btn-sm">
                                        <strong><i class="fas fa-plus"></i> NUEVO REGISTRO</strong>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="tb_categoria" class="table dataTables-example">
                            <thead>
                            <tr role="row">
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Email</th>
                                <th>Ultimo Acceso</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for user in object_list %}
                                <tr role="row" class="odd">
                                    <td><strong>{{ user.id }}</strong></td>
                                    <td>{{ user.first_name }}</td>
                                    <td>{{ user.last_name }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.last_login }}</td>
                                    <td class="text-center">
                                        <a href="{% url 'app_usuario:actualizar_usuario' user.id %}"
                                           class="btn btn-primary btn-xs btn-flat">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a href="{% url 'app_usuario:eliminar_usuario' user.id %}"
                                           class="btn btn-danger btn-xs btn-flat">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->

{% endblock %}

{% block scripts %}

    <script>
        $(function () {
            $("#tb_categoria").DataTable({
                "responsive": true,
                "autoWidth": false,
                "language": {
                    url: '{% static 'lib/datatables-1.10.20/spanish.txt' %}'
                }
            });
        });
    </script>
{% endblock %}

