{% extends 'base.html' %}

{% load static %}

{% block contenido %}

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="#">{{ nombre }}&nbsp
                            <i class="far nav-icon fa fa-home"></i></a></li>
                        <li class="breadcrumb-item active">Listado de {{ nombre }}&nbsp
                            <i class="far nav-icon fa fa-clipboard-check"></i></li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <div class="col-md-12">
        <div class="card">
            <div class="card-header" style="background-color: #0d8ddb">
                <h1 class="card-title text-center"><strong><i class="fas fa-list-alt"></i> &nbsp LISTADO DE REGISTRO DE
                    DIETAS POR DIAS:</strong></h1>
                <div class="card-tools">
                    {#                    <a href="#" data-toggle="modal" data-target="#modal_crear_dieta" class="btn btn-md bg-teal">#}
                    {#                        <i class="fas fa-plus"></i> Generar Dieta#}
                    {#                    </a>#}
                    <button id="btn_call_cabecera_dieta" type="submit" class="btn btn-md bg-teal">
                        <i class="fas fa-plus"></i> Generar Dieta
                    </button>
                    <a href="{% url 'app_dieta:principal_mes' anio_id %}" class="btn btn-md bg-danger">
                        <i class="fas fa-reply"></i> Regresar
                    </a>
                </div>
            </div>

            <div class="card-body bg-white">
                <div class="row mt-6">

                    {% for dieta in dietas %}
                        <div class="col-md-2">
                            <!-- Box Comment -->
                            <div class="card card-widget">
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <span class="mailbox-attachment-icon">
                                        <i class="far fa-file-excel"></i>
                                    </span>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer card-comments">
                                    <div class="mailbox-attachment-info">
                                        <div class="text-center">
                                            <span class="username">
                                            <a href="#" class="mailbox-attachment-name">
                                                <i class="fas fa-paperclip"></i>
                                                {{ dieta.fecha }}
                                            </a>
                                        </span>
                                            <a href="/dieta/crear/dia/{{ dieta.id }}/"
                                               class="btn btn-secondary btn-sm">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                            <a href="/dieta/editar/dia/{{ dieta.id }}/"
                                               class="btn btn-secondary btn-sm">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a href="/dieta/reporte_dieta/{{ dieta.id }}/"
                                               target="_blank" class="btn btn-sm btn-secondary">
                                                <i class="fas fa-print"></i>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- /.card -->
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- /.card -->
    </div>


    <div class="modal fade" id="modal_crear_dieta">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Crear dia de Dieta</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="crear_mes" method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="anio" class="col-sm-2 col-form-label">Mes *</label>
                                <div class="col-sm-6">
                                    <input type="text" value="{{ mes.mes_dieta }}" readonly="readonly"
                                           class="form-control" id="mes" name="mes" placeholder="Ingrese el Año">
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" value="{{ mes.anio.anio_dieta }}" readonly="readonly"
                                           class="form-control" id="anio" name="anio" placeholder="Ingrese el Año">
                                </div>
                            </div>
                            {#                            <div class="form-group row">#}
                            {#                                <label for="mes_dieta" class="col-sm-2 col-form-label">Fecha *</label>#}
                            {#                                <div class="col-sm-10">#}
                            {#                                    <input type="date" id="fecha" name="fecha" required="required"#}
                            {#                                           value="{{ fecha|date:"Y-m-d" }}" class="form-control">#}
                            {#                                </div>#}
                            {#                            </div>#}
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button id="btn_registrar_cabecera_dieta" type="submit" class="btn btn-primary">Registrar
                            </button>
                            <button type="reset" class="btn btn-default" data-dismiss="modal">Salir</button>
                        </div>
                        <!-- /.card-footer -->
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <script>
        $('#btn_call_cabecera_dieta').on('click', function () {
            $('#btn_registrar_cabecera_dieta').trigger('click');
        });
    </script>

{% endblock %}